
<h1 style="text-align: center;">List Pokemon </h1>

<table class="table table-info table-hover table-striped">
    <thead class="table-dark">
        <tr>
            <th>No</th>
            <th>Pokemon's Name</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody id="tbodyPoke">
    </tbody>

</table>


<!-- Modal -->
<div class="modal fade" id="modalPoke" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header" style="background-color:#48D1CC">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Pokemon Details</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                ...
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script src="~/js/pokemontable.js" asp-append-version="true"></script>
}
